{% extends "layout.html" %}
{% block content %}
    <header>
      <div class="container">
        {% if config.THEME_SETTINGS.profilepicture %}
        <div class="row">
          <div class="col-xs-10 col-md-6 col-centered logo">
            <img alt="profile-picture" class="img-responsive" src="{{ config.THEME_SETTINGS.profilepicture | asseturl }}">
          </div>
        </div>
        {% endif %}
        <div class="row">
          <div class="col-xs-10 col-sm-8 col-md-6 col-centered event-title text-center">
            <h1 id="event-title">{{ config.THEME_SETTINGS.name | upper }}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-10 col-sm-8 col-md-6 col-centered">
            <p class="text-center">{{ config.THEME_SETTINGS.about }}</p>
          </div>
        </div>
      </div>
    </header>

    <br/>
      <h1 class="text-center" id="talks">Proposta do evento</h1>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center">
            Atualmente, a maioria dos eventos de Python são sobre muitas coisas: estruturas, aplicativos e comunidade.
            É muito positivo atender às necessidades da indústria e da comunidade.
            Mas às vezes sentimos falta do python, puro Python.
            Nossa intenção é fazer uma conferência apenas de Python!<br/><br/>
            Conheça a fundo nossa proposta de eventos <strong style="font-family: 'Concert One', cursive;">JUST PYTHON</strong> através do nosso <a href="/manifesto"><strong>Manifesto JUST PYTHON</strong></a>
          </p>
        </div>
      </div>

      <h1 class="text-center" id="talks">Codigo de conduta</h1>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center">
            Para termos um ambiente amistoso, de boa convivência, inclusivo e livre de intimidação, onde todas as pessoas são bem-vindas. Civilidade é exigida!
            Definimos um <a href="/cdc"><strong>Código de Conduta</strong></a>, baseado no Código de Conduta do Evento Python Brasil.
            Leia-o atentamente e respeite as regras de boa convivência, para termos um evento maravilhoso e proveitoso a todos.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 user-social text-center">
          <h1 class="text-center">Redes sociais</h1>
          {% include "partials/social.html" %}
        </div>
      </div>
{% endblock content %}
